<!-- content here -->
<div class="container-fluid py-4 content">
    <div class="text-center mx-auto p-1"
        style="border: solid white 1px;background-color: white;width: 500px;height:auto;">
        <div class="p-4">
            <img src="images/dalipalilogo.png" alt="">
            <img src="images/dalipalitext.png" alt="">
            <h5>Sign up</h5>
        </div>
        <% if (messages.success_msg) {%>
            <div class="alert alert-success alert-dismissible fade show m-2" role="alert">
                <strong><%= messages.success_msg %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <% if (messages.error_msg) {%>
            <div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
                <strong><%= messages.error_msg %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        <div class="p-2">
            <form action="/register" method="POST" class="form">
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" name="fullname" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" name="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" onkeyup="check();" id="password"
                        name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill" onkeyup="check();" id="confirm_password"
                        placeholder="Confirm Password">
                    <span id='message'></span>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="ml-3"><input type="checkbox"> <label for="">I agree to all the <a href="#"
                                style="text-decoration: none;">Terms</a> </label></div>
                </div>
                <div>
                    <button type="submit" class="btn  auth-btn rounded-pill">SIGN UP</button>
                </div>
            </form>
        </div>

        <div class="pt-5">
            <i class="fab fa-facebook-f fa-lg mr-3" style="color:#4267B2;"> </i>
            <i class="fab fa-google fa-lg" style="color:  #DB4437;"></i>
        </div>
        <div class="pt-3">
            <p>Already have an account? &nbsp;&nbsp;<a href="/login" style="text-decoration: none;">Sign in</a></p>
        </div>
    </div>
</div>
<!-- content ends -->