.add-category-button {
    background-color: #e3f4fc;
    color: #0d6ca3;
    border: none;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    font-weight: 600;
}

.add-category-button:hover {
    background-color: #9addfc;
}

.inactive {
    background-color: #fae9e8;
    color: #b61355;
    border: none;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    font-weight: 600;
}